<h1>Sports</h1>
<%if current_user then%> 
  <div style="float:left; width: auto;">
    <%= button_to "New", new_sport_button_url, method: :get%>
  </div>
<%end%>
<br><br>
<% @sports.each do |s|%>
  <div style="float:left; width: auto;">
    <%= s.name %> <%= s.description%> 
  </div>
  <%if current_user then%> 
    <div style="float:left; width: auto;">
      <%= button_to "View", sport_url(s), method: :get%>
    </div>
    <%if owns_record(s) then %>
      <div style="float:left; width: auto;">
        <%= button_to "Edit", sport_url(s) + '/edit', method: :get%>
      </div><br><br>
    <%end%>
  <%end%>
  <br><br>
<% end %>