<%= form_for(@user) do |f| %>
  <% if current_page?(:controller => 'users', :action => 'new') %>
    <label>Creating New User:</label><br>  
  <% elsif current_page?(:controller => 'users', :action => 'edit')%>
    <label>Editing User:</label><br> 
  <% end %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <label>UserName:</label><br>
  <%= f.text_field :username %><br>
  <label>First Name:</label><br>
  <%= f.text_field :first_name %><br>
  <label>Last Name:</label><br>
  <%= f.text_field :last_name %><br>
  <label>Email:</label><br>
  <%= f.text_field :email, required: true %><br>
  <% if !current_page?(:controller => 'users', :action => 'show', :id => @user.id.to_s) %>
    <label>Password:</label><br>
    <%= f.password_field  :password %><br>
    <%= f.password_field  :password_confirmation %><br>    
    <%= f.submit  submit_text %>
  <% end %>
<% end %>