<%= form_for(@user) do |f| %>
  <% if current_page?(:controller => 'users', :action => 'new') %>
    <label>Creating New User:</label><br>  
  <% elsif current_page?(:controller => 'users', :action => 'edit')%>
    <label>Editing User:</label><br> 
  <% end %>
  <label>UserName:</label><br>
  <%= f.text_field :username %><br>
  <label>First Name:</label><br>
  <%= f.text_field :first_name %><br>
  <label>Last Name:</label><br>
  <%= f.text_field :last_name %><br>
  <label>Email:</label><br>
  <%= f.text_field :email, required: true %><br>
  <% if !current_page?(:controller => 'users', :action => 'show', :id => @user.id.to_s) %>
    <label>Password:</label><br>
    <%= f.password_field  :password %><br>
    <%= f.password_field  :password_confirmation %><br> 
     <% params[:form_action] = :action %>
  <% else %>
    <% params[:form_action] = "show"%>
  <% end %>
  <%= f.submit  submit_text %>
  
<% end %>