<%= form_for(@event) do |e| %>
  <% if current_page?(:controller => controller_name, :action => 'new') %>
    <label>Creating New Event:</label><br>  
  <% elsif current_page?(:controller => controller_name, :action => 'edit')%>
    <label>Editing Event:</label><br> 
  <% end %>
  <label>Event Name:</label><br>
  <%= label_text_field(@event, e, :name) %><br>
  <label>Description:</label><br>
  <%= label_text_field(@event, e, :description) %><br>
  <label>Sport:</label><br>
  <%= sport_id_field(@event) %><br>
  <label>Date:</label><br>
  <%= label_text_field(@event, e, :date) %><br>
  
  <% if !current_page?(:controller => controller_name, :action => 'show', :id => @event.id.to_s) %>
     <% params[:form_action] = :action %>
  <% else %>
    <% params[:form_action] = "show"%>
  <% end %>
  <%= e.submit  submit_text(@event) %>
  
<% end %>