<%= form_for(@event) do |e| %>
  <% if current_page?(:controller => controller_name, :action => 'new') %>
    <label>Creating New Event:</label><br>  
  <% elsif current_page?(:controller => controller_name, :action => 'edit')%>
    <label>Editing Event:</label><br> 
  <% end %>
  <label>Event Name:</label><br>
  <%= label_text_field(@event, e, :name) %><br>
  <label>Description:</label><br>
  <%= label_text_field(@event, e, :description) %><br>
  <label>Sport:</label><br>
  <%= sport_id_field(@event) %><br>
  <label>Date:</label><br>
  <%= label_text_field(@event, e, :date) %><br>
  <label>Location:</label><br>
  <%= location_id_field(@event) %><br>
  <% if !current_page?(:controller => controller_name, :action => 'show', :id => @event.id.to_s) %>
     <% params[:form_action] = :action %>
  <% else %>
    <% params[:form_action] = "show"%>
  <% end %>
  <%if owns_record(e) then %> 
    <%= e.submit  submit_text(@event) %>
  <%end%>
  
<% end %>

<% if questions_comments(@event) %>
  <p>Comments:</p>
  <%= form_with model: @event.comments.build do |comment_content| %>
    <%= comment_content.hidden_field :user_id, value: session[:user_id] %>
    <%= comment_content.hidden_field :event_id, value: @event.id %>
    <%= comment_content.hidden_field :from_controller, value: controller_name %>
    <%= comment_content.text_area :comment_text %>    
    <%= comment_content.submit %>
  <%end%> 
  <p>Questions:</p>
  <%= form_with model: @event.questions.build do |question_content| %>
    <%= question_content.hidden_field :user_id, value: session[:user_id] %>
    <%= question_content.hidden_field :event_id, value: @event.id %>
    <%= question_content.hidden_field :from_controller, value: controller_name %>
    <%= question_content.text_area :question_text %>    
    <%= question_content.submit %>
  <%end%>
<% end %>